.body-class {
    overflow: hidden;
	/*	background-color: #ebf1f5;*/
	margin: 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#808797+0,2e323b+100 */
	background: #808797;
	/* Old browsers */
	background: -moz-linear-gradient(left, #808797 0%, #2e323b 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #808797 0%, #2e323b 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #808797 0%, #2e323b 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#808797', endColorstr='#2e323b', GradientType=1);
	/* IE6-9 */
}

.loading_screen {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 6000;
    background:url(../images/preloader.gif) no-repeat center center;
    background-color: #ffffff;
}

.gradient_black { 
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#808797+0,2e323b+100 */
	background: #808797;
	/* Old browsers */
	background: -moz-linear-gradient(left, #808797 0%, #2e323b 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #808797 0%, #2e323b 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #808797 0%, #2e323b 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#808797', endColorstr='#2e323b', GradientType=1);
	/* IE6-9 */
}

.gradient_red {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e84e40+0,ff321c+100 */
	background: #e84e40;
	/* Old browsers */
	background: -moz-linear-gradient(top, #e84e40 0%, #ff321c 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e84e40 0%, #ff321c 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e84e40 0%, #ff321c 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e84e40', endColorstr='#ff321c', GradientType=0);
	/* IE6-9 */
}

.gradient_blue {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00d4ff+0,1ab3d2+100 */
	background: #00d4ff;
	/* Old browsers */
	background: -moz-linear-gradient(top, #00d4ff 0%, #1ab3d2 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00d4ff 0%, #1ab3d2 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00d4ff 0%, #1ab3d2 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00d4ff', endColorstr='#1ab3d2', GradientType=0);
	/* IE6-9 */
}

.gradient_pink {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9da6fc+0,7c83c9+100 */
	background: #9da6fc;
	/* Old browsers */
	background: -moz-linear-gradient(top, #9da6fc 0%, #7c83c9 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #9da6fc 0%, #7c83c9 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #9da6fc 0%, #7c83c9 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9da6fc', endColorstr='#7c83c9', GradientType=0);
	/* IE6-9 */
}



.gradient_green {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4dc15d+0,00b515+100 */
	background: #4dc15d;
	/* Old browsers */
	background: -moz-linear-gradient(top, #4dc15d 0%, #00b515 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4dc15d 0%, #00b515 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4dc15d 0%, #00b515 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4dc15d', endColorstr='#00b515', GradientType=0);
	/* IE6-9 */
}


.gradient_digital {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4dc15d+0,00b515+100 */
	background: #4dc15d;
	/* Old browsers */
	background: -moz-linear-gradient(top, #082eff 0%, #1f2cb9 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #082eff 0%, #1f2cb9 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #082eff 0%, #1f2cb9 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#082eff', endColorstr='#1f2cb9', GradientType=0);
	/* IE6-9 */
}


.gradient_softlogic {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4dc15d+0,00b515+100 */
	background: #4dc15d;
	/* Old browsers */
	background: -moz-linear-gradient(top, #ed1b74 0%, #DD0696 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ed1b74 0%, #DD0696 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ed1b74 0%, #DD0696 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ed1b74', endColorstr='#DD0696', GradientType=0);
	/* IE6-9 */
}
.gradient_yellowqq {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f230+0,bfb800+100 */
    background: #f2f230; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f2f230 0%, #bfb800 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #f2f230 0%,#bfb800 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #f2f230 0%,#bfb800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f230', endColorstr='#bfb800',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient_yellow {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb74c+0,ffaf2a+100 */
    background: #ffb74c; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffb74c 0%, #ffaf2a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffb74c 0%,#ffaf2a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffb74c 0%,#ffaf2a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb74c', endColorstr='#ffaf2a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.gradient_awesome {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf2a+0,e44e73+100 */
    background: #ffaf2a; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffaf2a 0%, #e44e73 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffaf2a 0%,#e44e73 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffaf2a 0%,#e44e73 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf2a', endColorstr='#e44e73',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
}

.drag_all_chart{
    background: url('../images/total_drag.png');
    background-color:;
    cursor: pointer;
    height:300px;
    width:30px;
    float: left;
}

.drag_all_chart_dragged {
    background: url('../images/total_drag_dragged.png');
    background-color:;
    cursor: pointer;
    height:300px;
    width:30px;
    float: left;
}

#chart_agency canvas,
#chart_affinity canvas,
#chart_kam canvas,
#chart_broker canvas,
#chart_total canvas {
	opacity: 1;
	filter: alpha(opacity=100);
	/* For IE8 and earlier */
}

.channel_title {
	color: aliceblue;
	font-size: 18px;
	/*	background-color: #ffda93;*/
	/*	padding-left: 20px;*/
}

.circle-info-half {
	color: #f0f0f0;
	padding-top: 62%;
	font-size: 0.70em;
}

.circle-text {
	color: white;
	font-size: 1px;
}

.one_edge_shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.shadow {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}

.amcharts-graph-g2 .amcharts-graph-stroke {
	stroke-dasharray: 3px 3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	-webkit-animation: am-moving-dashes 1s linear infinite;
	animation: am-moving-dashes 1s linear infinite;
}

@-webkit-keyframes am-moving-dashes {
	100% {
		stroke-dashoffset: -31px;
	}
}

@keyframes am-moving-dashes {
	100% {
		stroke-dashoffset: -31px;
	}
}

.lastBullet {
	-webkit-animation: am-pulsating 1s ease-out infinite;
	animation: am-pulsating 1s ease-out infinite;
}

@-webkit-keyframes am-pulsating {
	0% {
		stroke-opacity: 1;
		stroke-width: 0px;
	}
	100% {
		stroke-opacity: 0;
		stroke-width: 50px;
	}
}

@keyframes am-pulsating {
	0% {
		stroke-opacity: 1;
		stroke-width: 0px;
	}
	100% {
		stroke-opacity: 0;
		stroke-width: 50px;
	}
}

.amcharts-graph-column-front {
	-webkit-transition: all .3s .3s ease-out;
	transition: all .3s .3s ease-out;
}

.amcharts-graph-column-front:hover {
	fill: #ff6600;
	stroke: #ff6600;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.amcharts-graph-g3 {
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-dasharray: 500%;
	stroke-dasharray: 0 \0/;
	/* fixes IE prob */
	stroke-dashoffset: 0 \0/;
	/* fixes IE prob */
	-webkit-animation: am-draw 40s;
	animation: am-draw 40s;
}

@-webkit-keyframes am-draw {
	0% {
		stroke-dashoffset: 500%;
	}
	100% {
		stroke-dashoffset: 0%;
	}
}

@keyframes am-draw {
	0% {
		stroke-dashoffset: 500%;
	}
	100% {
		stroke-dashoffset: 0%;
	}
}


/* OVERWRITE OUR MAIN STYLE */

.demo-flipper-front.demo-panel-white,
body {
	background-color: #ffffff;
}


/* Bootstrap Modal */


/* .modal-fullscreen */

.modal-fullscreen {
	background: transparent;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7e013+0,f49d1a+100 */
	background: #f7e013; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #f7e013 0%, #f49d1a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #f7e013 0%,#f49d1a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #f7e013 0%,#f49d1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e013', endColorstr='#f49d1a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.modal-fullscreen .modal-content {
	background: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
	background: #ebf1f5;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
	opacity: .97;
	filter: alpha(opacity=97);
}


/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

@media (min-width: 768px) {
	.modal-fullscreen .modal-dialog {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.modal-fullscreen .modal-dialog {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.modal-fullscreen .modal-dialog {
		width: 1170px;
	}
}

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}
.modal-body{
    height: 90%;
}

/*Popup Dialog Starts here */

.agency_breakdown_popup {
	position: fixed;
	top: 30%;
	left: 50%;
	width: 40em;
	height: 18em;
	margin-top: -9em;
	/*set to a negative number 1/2 of your height*/
	margin-left: -20em;
	/*set to a negative number 1/2 of your width*/
	border: 0px solid #ff006c;
	background-color: #f3f3f3;
	display: none;
/*	cursor: move;*/
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7e013+0,f49d1a+100 */
background: #f7e013; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #f7e013 0%, #f49d1a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #f7e013 0%,#f49d1a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #f7e013 0%,#f49d1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e013', endColorstr='#f49d1a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.branch_breakdown_popup {
	position: fixed;
	top: 30%;
	left: 50%;
	width: 30em;
	height: 18em;
	margin-top: -9em;
	/*set to a negative number 1/2 of your height*/
	margin-left: -15em;
	/*set to a negative number 1/2 of your width*/
	border: 0px solid #ff006c;
	background-color: #f3f3f3;
	display: none;
	z-index: 10000;
	cursor: move;
	

}



/* Charm Bar */

#charm_bar_wrap {
    height:100%;
    width:80px;
    background-color:;
    position:absolute;
    left:-80px;
    top:0;
	z-index: 9000;
}

.charm_button_wrap{
	width: 80px;
	height: 70px;
	background-color: ;
	cursor: pointer;
}
.charm_button_wrap img{
	width: 40px;
	height: 40px;
	
}
.charm_button_wrap p{
	color:#c5c5c5; 
	font-size:12px;
	display: none;
}
.charm_button_wrap :hover{
	background-color: #333333;
}